@font-face {
  font-family: "Dyslexie";
  src: url("./fonts/Dyslexie-Bold.woff2") format("woff2"),
    url("./fonts/Dyslexie-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Dyslexie";
  src: url("./fonts/Dyslexie-Regular.woff2") format("woff2"),
    url("./fonts/Dyslexie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.accessibility-news-font-dyslexie {
  font-family: "Dyslexie", sans-serif;
}

.accessibility-news-blue * {
  background-color: #96adfc;
}

.accessibility-news-blue-grey * {
  background-color: #dbe1f1;
}

.accessibility-news-green * {
  background-color: #a8f29a;
}

.accessibility-news-grey * {
  background-color: #d8d3d6;
}

.accessibility-news-orange * {
  background-color: #eddd6e;
}

.accessibility-news-peach * {
  background-color: #edd1b0;
}

.accessibility-news-purple * {
  background-color: #b987dc;
}

.accessibility-news-red * {
  background-color: #e0a6aa;
}

.accessibility-news-turquoise * {
  background-color: #a5f7e1;
}

.accessibility-news-yellow * {
  background-color: #f8fd89;
}

.accessibility-news-black-font * {
  color: #000000 !important;
}

.color-preview {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.primary-background-selection {
  display: flex;
  flex-direction: column;
}

.primary-background-selection-option {
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid red;
  border-radius: 5px;
}

.radio-label {
  display: flex;
}

.radio {
  margin: 0.5rem;
  display: flex;
  width: auto;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
